/*
 * Reporting tool configuration (trait analysis reports)
 */
params {
    reporting          = reporting          ?: false // Whether to generate HTML reports using Rmarkdown
    my_traits          = my_traits          ?: "$baseDir/Data/1.Cancer_data/Neoplasia_species360/cancer_traits_processed-LQ.csv" // Path to traits CSV file
    tree               = tree               ?: "$baseDir/Data/5.Phylogeny/science.abn7829_data_s4.nex.tree" // Path to species tree file (newick)
    traitname          = traitname          ?: "neoplasia_prevalence" // Name of the trait column to analyze
    sp_colname         = sp_colname         ?: "species" // Name of the species column in the traits CSV file
    clade_name         = clade_name         ?: "primates" // Name of the clade to focus on in the report
    taxon_of_interest  = taxon_of_interest  ?: "family" // Taxonomic level of interest (e.g., "family", "order")
    seed               = seed               ?: "1998" // Random seed for reproducibility
    n_trait            = n_trait            ?: "adult_necropsy_count" // Number of top traits to include in the report
    tax_id             = tax_id             ?: "$baseDir/Data/5.Phylogeny/taxid_species_family.tsv" // Path to taxonomic ID mapping file (taxid to species)
    secondary_trait    = secondary_trait    ?: "malignant_prevalence" // Name of a secondary trait column to include (optional)
    branch_trait       = branch_trait       ?: "LQ" // Name of the trait column to use for branch coloring (optional)
}
