/*
 * RERconverge configuration
 */
params {
    // General options
    rer_tool                   = rer_tool                   ?: "" // Options: "build_trait", "build_trees", "build_matrix", "continuous"
    gene_trees                 = gene_trees                 ?: "$baseDir/Data/Gene_trees/geneTrees.txt" // Path to file with list of gene trees
    trait_out                  = trait_out                  ?: "$baseDir/Data/RER/RER_Traits/${params.traitname}.polished.output" // Path to output trait file from build_trait
    trees_out                  = trees_out                  ?: "$baseDir/Data/RER/RER_Objects/geneTrees.masterTree.pruned.output" // Path to output trees file from build_trees
    matrix_out                 = matrix_out                 ?: "${params.outdir}/RER_Objects/${params.traitname}.RERmatrix.output" // Path to output matrix file from build_matrix

    // Continuous analysis options
    rer_minsp                  = rer_minsp                  ?: "10" // Minimum number of species required per gene
    winsorizeRER               = winsorizeRER               ?: "3" // Winsorization threshold for RER values
    winsorizeTrait             = winsorizeTrait             ?: "3" // Winsorization threshold for trait values
}

process {
    withName: 'RER_TRAIT' {
        publishDir = [
            path: { "${params.outdir}/RERConverge/RER_Traits/" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RER_TREES' {
        publishDir = [
            path: { "${params.outdir}/RERConverge/RER_Objects" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RER_MATRIX' {
        publishDir = [
            path: { "${params.outdir}/RERConverge/RER_Objects" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RER_CONT' {
        publishDir = [
            path: { "${params.outdir}/RERConverge/RER_Results" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
